<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        {{!-- Header --}}
        <div class="header-div">
            <img class="logo" src="../images/logo.png">
            <div class="flex center">
                <ul>
                    <li><a class="header-divider"></a></li>
                    <li><a class="header-button on-page">Home</a></li>
                </ul>
            </div>
            <div class="sign-out">
                <div>
                    <span>{{user.name}}</span> <br />
                    <a class="sign-out-button" href="/">Sign Out</a>
                </div>
            </div>
        </div>
        <div class="body-div">
            <div class="flex column">
                <span class="title-card">Home</span>
                <div class="border flex center">
                    <div class="dashboard">
                        <button class="sales" onclick="window.location.href='/encode-sales'">
                            Sales
                        </button>

                        <button onclick="window.location.href='/encode-deliveries'">
                            Deliveries
                        </button>

                        <button onclick="window.location.href='/generate-reports'">
                            Reports
                        </button>

                        <button onclick="window.location.href='/inventory'">
                            Inventory
                        </button>

                        {{#if user.isAdmin 1}} 
                        <button onclick="window.location.href='/users'">
                            Users
                        </button>
                        {{/if}}

                        <button class="eoq" onclick="window.location.href='/ooq'">
                            OOQ
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>