<html>
    <head>
        <title>Inventory</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
        <link rel="stylesheet" type="text/css" href="../stylesheets/inventory.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        {{!-- Header --}}
        <div class="header-div">
            <img class="logo" src="../images/logo.png">
            <div class="flex center">
                <ul>
                    <li><a class="header-divider"></a></li>
                    <li><a class="header-button" href="/home">Home</a></li>
                    <li><a class="header-divider">></a></li>
                    <li><a class="header-button on-page">Users</a></li>
                </ul>
            </div>
            <div class="sign-out">
                <div>
                    <span>{{user.name}}</span> <br />
                    <a class="sign-out-button" href="/">Sign Out</a>
                </div>
            </div>
        </div>
        <div class="body-div">
            <div class="flex column container">
                <div class="flex nav">
                    <span class="title-card">Users</span>
                </div>
                <div class="table-container">
                    <table class="inventory-table">
                        <thead>
                            <tr>
                                <th class="wide">Name</th>
                                <th class="middle">Admin</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr tabindex="0">
                                <td class="wide">{{name}}</td>
                                <td class="flex center">
                                    
                                    {{#if isAdmin 1}}
                                    <div class="circle green">
                                        
                                    </div>
                                    {{/if}}
                                    {{#if isAdmin 0}}
                                    <div class="circle red">
                                        
                                    </div>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>