.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
    max-width: 600px;
    margin: 0 auto; 
}

button {
    font-family: "SF";
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
    background-color: white;
    color: #3e3e3e;
    font-size: medium;
    font-weight: bold;
    border: solid 2px var(--border);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: background-color 0.3s ease;
    padding-top: 50px;
    margin: 10px;
} button:hover {
    background-color: var(--primary);
    border: solid 2px black;
    color: white;
}

.button img {
    width: 50px;
    margin-bottom: 10px;
}

a {
    text-decoration: none; 
}

.button span {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.title-card {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 25px;
}

.border {
    background-color: white;
    width: 700px;
    height: 350px;
    border-radius: 20px;
    border: solid 2px var(--contrast);
    box-shadow: rgba(78, 78, 78, 0.35) 0px 1px 10px;
}

.eoq {
    background-color: #23A55A;
    border: solid 2px #23A55A;
}

.sales {
    background-image: url("../images/sales.png");
    background-position: center;
    background-size: 45px;
    background-repeat: no-repeat;
}