
    .login-container {
        width: 250px;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .logo-full {
        margin-bottom: 20px;
    }
    input[type="password"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        padding: 10px 15px;
        background-color: #818589;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
    a {
        text-decoration: none; 
    }

    button:hover {
        background-color: #36454F;
    }

    .error-message {
        color: white;
        background-color: red;
        font-size: small;
        padding: 5px;
        border-radius: 6px;
        align-self: center;
        position: absolute;
        top: 62%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    } .error-message:hover {
        background-color: tomato;
    }